body {
  background: #8b0000;
  font-family: Arial;
}

#title, .subtitle, .post_title {
  color: gainsboro;
}
#title{
  font-size: 40px;
  font-family: Arial Black;
  text-transform: uppercase;
}
.post_title{
  font-size: 16px;
  font-style: italic;
}
.post_title {
  background: #1c1c1c;
  padding: 15px;
  border-top: 3px solid black;
  border-right: 2px dotted yellow;
  border-left: 1px dashed green;
  border-bottom: 6px dashed purple;
  border-radius: 3px;
}
.Grid_Logo {
  background: Black;
  padding: 15px 400px;
}
.canal{
  font-size: 18px;
}
ol {
  list-style-type: upper-roman;
}
